
#aboutMe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 55vh;
    padding: 2rem;
    
    align-items: center;
}

.aboutPara{
    max-width: 35rem;
    min-height: 10rem;
    display: flex;
    flex-wrap: wrap;
    color: #adb5bd;
    text-align: center;
    font-weight: 400;
    font-size: larger;
    line-height: 1.5;
    margin-top: 1rem;
}

.aboutSection{
    font-size: xx-large;

}

#btn-comp{
    display: flex;
     justify-content: center;
  gap: 1rem;
}
